.s-header {
  width: 100%;
  height: 96px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 500;
}

.header-menu-toggle {
  position: fixed;
  right: 38px;
  top: 24px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.3rem;
  color: #39b54a;
  transition: all 0.5s ease-in-out;
}

.header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -70px;
  width: 9rem;
  padding-left: 12px;
  background-color: #000000;
}

.header-menu-icon {
  display: block;
  color: white;
  left: 25px;
  margin-top: -1px;
  position: absolute;
  right: auto;
}
